body {
    background:
  rgb(114, 179, 179);
    color: rgb(45, 45, 45);
    padding: 10xp;
    font-family:Arial, sans-serif;
}

#all-cintent {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background:rgb(54, 194, 237);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #4282e2;
}

/* main container area beneath menu */
main {
    background: rgb(231, 231, 234);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25xp;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* insterests section styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px
}

h2, h3 {
    margin: 0px;
}

